* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    font-family: sans-serif;
    height: 100vh;
    background: linear-gradient(gray , black);
    /* 100vh - non-fixed size (screen size) */
}

a {
    text-decoration: none;
    color : inherit;
}

/* 1rem - 16px */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.nav {
    width: 50%;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    width: 50px;
}

.input {
    background: white;
    border: none;
    border: 2px solid black;
    font-size: larger;
}

li {
    list-style-type: none;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    font-size: x-large;

}

.table__col {
    display: inline;
}